{% extends "admin/change_list.html" %}

{% block object-tools-items %}
    <li>
        <a href="gen-5/" class="addlink" style="background-color: #28a745; color: white; border-radius: 4px; padding: 10px 15px; font-weight: bold; margin-right: 5px;">
            Generate 100 (5x5)
        </a>
    </li>

    <li>
        <a href="gen-6/" class="addlink" style="background-color: #17a2b8; color: white; border-radius: 4px; padding: 10px 15px; font-weight: bold; margin-right: 5px;">
            Generate 100 (6x6)
        </a>
    </li>

    <li>
        <a href="gen-8/" class="addlink" style="background-color: #ffc107; color: black; border-radius: 4px; padding: 10px 15px; font-weight: bold; margin-right: 5px;">
            Generate 100 (8x8)
        </a>
    </li>

    {{ block.super }}
{% endblock %}