{% extends 'base.html' %}
{% load widget_tweaks %} {% block content %}
<div class="glass-card auth-container">
    <h2>Login to <span style="color: #00d2ff;">Flow</span></h2>
    
    <form method="POST">
        {% csrf_token %}
        
        <div class="input-group">
            <label>Username</label>
            {% render_field form.username class="auth-input" placeholder="Enter username" %}
        </div>

        <div class="input-group">
            <label>Password</label>
            {% render_field form.password class="auth-input" placeholder="Enter password" %}
        </div>

        <button type="submit" class="btn-action reset">Let's Play 🚀</button>
    </form>
</div>

<style>
    .auth-container {
        max-width: 400px;
        margin: 80px auto;
        text-align: center;
    }
    .input-group {
        text-align: left;
        margin-bottom: 20px;
    }
    .input-group label {
        display: block;
        color: #0a0a0acb;
        margin-bottom: 8px;
        font-size: 0.9rem;
    }
    .auth-input {
        width: 100%;
        padding: 12px;
        background: rgba(15, 15, 15, 0.05);
        border: 1px solid #444;
        border-radius: 10px;
        color: black;
        outline: none;
        transition: 0.3s;
    }
    .auth-input:focus {
        border-color: #00d2ff;
        background: rgba(0, 210, 255, 0.05);
        box-shadow: 0 0 10px rgba(0, 210, 255, 0.2);
    }
</style>
{% endblock %}